.new-comment {
  margin: 0.5rem;
  text-align: center;
}

.new-comment span {
	padding-left: 2rem;
}

.new-comment input {
	background: #878787
}

.new-comment button {
    background: #878787
}

.new-comment button:hover,
.new-comment button:active {
  background: #5c8786;
}