#products {
  width: 90%;
  max-width: 80rem;
  margin: 2rem auto;
}

#products > p {
  text-align: center;
}

.product-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.product-list ul{
  display: inline;
  overflow: hidden;
}
