.comment-list {
    color: white;
	list-style: none;
	margin: 0.5rem;
	text-align: left;
	vertical-align: text-top;
	padding: 0,
}

.comment-list li {
	border: 1px solid #ccc;
	padding: 0.5rem;
	margin: 1rem;
	text-align: left;
	vertical-align: text-top;
	background: #183978;
}

.comment-list h4 {
	text-align: left;
}

.comment-list span {
	padding: 1rem 1rem;
}

.like-button {
	background-color: #78b1c4;
}

.dislike-button {
	background-color: #966b6b;
}

.like-button:hover,
.like-button:active {
  background: #2aa7d1;
  border-color: #005082;
}

.dislike-button:hover,
.dislike-button:active {
  background: #964747;
  border-color: #9e0000;
}
