main {
  margin-top: 5rem;
  background: #F2E3DB;
}

.loader {
  text-align: center;
  font-size: 2rem;
  
}

.stop-button {
	font: inherit;
  	padding: 0.5rem 2rem;
  	border-radius: 6px;
	float: right;
	background: #A4BE7B;
  	border: 1px solid #A4BE7B;
  	color: black;
	cursor: pointer;
}
.stop-button:focus {
	outline: none;
  }
  
.stop-button:hover {
	background-color: #5F8D4E;
	border-color: #5F8D4E;
  }

.welcome {
	margin-right: 40px;
	font-size: 24px;
}

.comments {
	float: left;
}

.grid-container {
	display: grid;
	grid-template-areas:
    'comment game login'
	
}