main {
  margin-top: 5rem;
  background: #F2E3DB;
}

.loader {
  text-align: center;
  font-size: 2rem;
  
}

.stop-button {
	float: right;
}

.welcome {
	margin-right: 40px;
	font-size: 24px;
}

.login {
	float: right;
}